/*-----------------fonts-----------*/
$font_f_base:"OpenSansRegular",sans-serif;
$font_size_base: 1.6rem;

/*-----------------fonts end-----------*/

/*-----------------colors-----------*/
$color_txt_base:#000;
$body_bg:#fff;
$color_link_base:blue;
$color_accent_y:#ffc155;
$color_accent_db:#709dca;
$color_accent_b:#71b6d5;

/*-----------------colors end-----------*/

/*---------------------------------------------layout-----------*/
$page_width: 120rem;
$page_min_width:32rem;
$page-margin:1.5rem;
/*---------------------------------------------layout end-----------*/

